# dependencies
node_modules/
.env
.DS_Store
dist/
# build/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# local env files
.env.*
# misc
*.sublime-workspace
*.sublime-project
.idea/
.vscode/
# hide webm files
*.webm
# ignore uploads folders
uploads/
# ignore temp folders
tmp/
temp/
